.category-button{
  background-color: transparent;
  border: none;
  font-size: 150%;
  margin-left: 12.45%;
}

.category-button:hover{
  background-color: gray;
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input{
  width: 25%;
}

.about-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: auto;
  margin: 0 auto;
  border: 1px solid #000;
  text-align: center;
  margin-bottom: 100px;
}

.about{
  margin-right: 200px;
  margin-left: 100px;
}

.contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: auto;
  margin: 0 auto;
  border: 1px solid #000;
  text-align: center;
  margin-bottom: 100px;
}

.contact{
  margin-right: 200px; 
  margin-left: 100px; 
}